<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pernikahan Ainun ❤️ Satria</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Great+Vibes&family=Merriweather:ital,wght@0,400;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" css/site.css" />
    <link rel="icon" href="favicon.png" />
</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @page "{action?}/{Id?}"
            @model IndexModel
            @{
                var general = Model.Destination != null && Model.Destination.GuestName != null;
                var nonmoslem = Model.Guest != null && ( Model.Guest.Religion != null && Model.Guest.Religion != "Islam");
                var submitted = Model.Guest != null && Model.Guest.LastSubmitDate != null;
            }

            @if (general)
            {
            <div class="destination section">
                <div class="label">
                    <div class="to"><p class="point"><span class="model-destionation-to"></span></p></div>
                    <div class="guest">
                        <p class="point guest-name"><span class="model-destionation-title"></span> <span class="model-destionation-guestname"></span></p>
                        <p class="point">di</p>
                        <p class="point"><span class="model-destionation-place"></span></p>
                    </div>
                </div>
            </div>
            }

            <div class="text-center section">
                <p class="title">Undangan Pernikahan</p>
                <h1 class="header1 script">Ainun & Satria</h1>
                <p class="subtitle">Minggu, 8 Desember 2024</p>
            </div>

            <div class="text-center section">
            @if (nonmoslem)
            {
                <p>Bismillahirrahmanirrahim</p>
            }
            else
            {
                <p><img class="bismillah-image" src=" img/bismillah.svg" alt="bismillah"/></p>
                <p class="quran">ﮉ ﮊ ﮋ ﮌ ﮍ ﮎ ﮏ ﮐ ﮑ ﮒ ﮓ ﮔ ﮕ ﮖ ﮗ ﮘ ﮙ ﮚ ﮛ ﮜ ﮝ </p>
            }
                <p class="quotes">&ldquo;Dan Diantara tanda-tanda kebesaran-Nya ialah diciptakan-Nya untukmu pasangan hidup dari jenismu sendiri supaya kamu mendapatkan ketenangan hati dan dijadikan-Nya kasih sayang diantara kamu sesungguhnya yang demikian menjadi tanda-tanda kebesaran-Nya bagi orang-orang yang berfikir&rdquo;</p>
                <p class="subtitle">&mdash; Ar-Ruum (30): 21</p>
            </div>

            <div class="text-center section">
            @if (nonmoslem)
            {
                <p>Assalamualaikum wr. wb.</p>
            }
            else
            {
                <p class="arabic">السَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ</p>
            }
                
                <p>Mahasuci Allah SWT yang telah menciptakan makhluk-Nya berpasang-pasangan.</br>Ya Allah  perkenankan kami untuk melaksanakan pernikahan kami.</p>
            </div>

            <div class="text-center section">
                <!-- <h2 class="header2 script">Calon Pengantin</h1> -->
                <h3 class="header3 script">Nur Ainun</h3>
                <p class="point subtitle">putri dari</p>
                <p class="point subtitle">Bpk. Marwan</p>
                <p class="point subtitle">& Ibu Kartini</p>

                <h2 class="script and-sign">&</h2>

                <h3 class="header3 script">Satria Rahman</h3>
                <p class="point subtitle">putra dari</p>
                <p class="point subtitle">Bpk. Ahmad Suhaili</p>
                <p class="point subtitle">& Ibu Isna Noverita</p>
            </div>

            <div class="text-center section">
                <h1 class="header2 script">Akad Nikah</h1>
                <p class="point"><a class="link" target="_blank" href="http://www.google.com/calendar/event?action=TEMPLATE&dates=20210606T040000Z%2F20210606T070000Z&text=Resepsi%20Pernikahan%20Maudi%20%26%20Gufron&location=-6.2539049%2C106.8518393&details=Tidak%20ada%20yang%20lebih%20membahagiakan%20kami%20selain%20berjumpa%20dengan%20@{@Model.Destination.Greeting}%20dalam%20acara%20resepsi%20pernikahan%20kami." ><i class="bi bi-calendar-event-fill"></i> Minggu, 8 Desember 2024</a></p>
                <p class="point"><i class="bi bi-clock-fill"></i> 08.00 - 10.00 WITA</p>
                <p class="point"><a class="maps link" target="_blank" href="https://maps.app.goo.gl/Vgfa2wTquvpgeANi8"><i class="bi bi-house-fill"></i>Gedung Mahligai Bersujud Kapet, Kab. Tanah Bumbu<span class="spacer"> </span><i class="bi bi-pin-map-fill"></i></a></p>
            </div>

            <div class="text-center section">
                <h1 class="header2 script">Resepsi</h1>
                <p class="point"><a class="link" target="_blank" href="http://www.google.com/calendar/event?action=TEMPLATE&dates=20210604T020000Z%2F20210604T050000Z&text=Akad%20Nikah%20Maudi%20%26%20Gufron&location=-6.4352771%2C106.7957088&details=Tidak%20ada%20yang%20lebih%20membahagiakan%20kami%20selain%20berjumpa%20dengan%20@{@Model.Destination.Greeting}%20dalam%20acara%20akad%20nikah%20kami."><i class="bi bi-calendar-event-fill"></i> Minggu, 8 Desember 2024</a></p>
                <p class="point"><i class="bi bi-clock-fill"></i> 10.00 - 12.00 WITA</p>
                <p class="point"><a class="maps link" target="_blank" href="https://maps.app.goo.gl/Vgfa2wTquvpgeANi8"><i class="bi bi-house-fill"></i>Gedung Mahligai Bersujud Kapet, Kab. Tanah Bumbu<i class="bi bi-pin-map-fill"></i></a></p>
            </div>
/
            <div class="text-center section">
                <p>Merupakan suatu kehormatan dan kebahagiaan bagi kami apabila <span class="model-destionation-greeting"></span> berkenan hadir untuk memberikan doa restu dalam acara pernikahan kami. Atas kehadiran dan doa restu <span class="model-destionation-greeting"></span>, kami ucapkan terimakasih.</p>
            @if (nonmoslem)
            {
                <p>Wassalamualaikum wr. wb.</p>
            }
            else
            {
                <p class="arabic">وَ السَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ</p>
            }
            </div>

            <div class="text-center section foot">
                <p>Kami yang Berbahagia,</p>
                <div class="center-wrapper">
                    <div class="name-left">
                        <p class="point">Keluarga Bpk. Marwan</p>
                        <p class="point">& Ibu Kartini</p>
                    </div>
                    <div class="spacer"></div>
                    <div class="name-right">
                        <p class="point">Keluarga Bpk. Ahmad Suhaili</p>
                        <p class="point">& Ibu Isna Noverita</p>
                    </div>
                </div>
                <h1 class="header3 script">Ainun & Satria</h1>
            </div>

            <!-- <div class="text-center section foot">
                <p class="point">NB: Mari tetap mematuhi protokol kesehatan dengan: mencuci tangan, memakai masker dan menjaga jarak aman.</p>
            </div> -->

            <div class="floating-wrapper">
                <div id="media-control" class="floating-control control stopped">
                    <i id="media-icon" class="bi bi-music-note-beamed"></i>
                </div>
            </div>
            <div class="text-center"><hr class="foot-ruler" /></div>
            @if (general)
            {
            <div class="text-center section">
                <p class="point">Apabila berkenan, mohon kesediaan <span class="model-destionation-greeting"></span> untuk mengisi form di bawah ini. Atas kesediaan <span class="model-destionation-greeting"></span> , kami ucapkan terima kasih.</p>
            </div>
            <div class="text-center section comment">
                <form method="post">
                    <div class="row justify-content-center">
                        <div class="row">
                            <div class="col-6">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input id="name" asp-for="FormData.GuestNameCustom" class="form-control" placeholder="Nama" disabled="@submitted" />
                                    <span asp-validation-for="FormData.GuestNameCustom" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-1">
                                <p>di</p>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <input id="address" asp-for="FormData.GuestAddressConfirmation" class="form-control" placeholder="Alamat" disabled="@submitted" />
                                    <span asp-validation-for="FormData.GuestAddressConfirmation" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <label class="control-label label-title">Akad Nikah</label>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input id="mc-y" class="form-check-input" asp-for="FormData.YesAttendMarriageContract" disabled="@submitted" />@(!nonmoslem ? "InsyaAllah" : "Akan") Hadir
                                    </label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input  id="mc-n" class="form-check-input" asp-for="FormData.NoAttendMarriageContract" disabled="@submitted" />Tidak hadir
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <label class="control-label label-title">Resepsi Pernikahan</label>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input id="wr-y" class="form-check-input" asp-for="FormData.YesAttendWeddingReception" disabled="@submitted" />@(!nonmoslem ? "InsyaAllah" : "Akan") Hadir
                                    </label>
                                    </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input id="wr-n" class="form-check-input" asp-for="FormData.NoAttendWeddingReception" disabled="@submitted" />Tidak hadir
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <textarea id="comment" asp-for="FormData.CommentContent" class="form-control" rows="3" placeholder="Ucapan" disabled="@submitted" ></textarea>
                                    <span asp-validation-for="FormData.CommentContent" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input id="submit" type="submit" value="Kirim" class="btn btn-primary" disabled="disabled" />
                                    <input id="edit" type="button" value="@(Model.FormData.Error ? "Kembalikan" : "Edit")" class="btn btn-primary" hidden="@(!submitted && !Model.FormData.Error)"  />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            }
            @if (Model.Posts != null && Model.Posts.Count > 0)
            {
            <div class="section posts">
                <div class="post-container no-gutter">
                    
                    @foreach (var item in Model.Posts) {
                        @if (item.CommentContent != null) {
                    <div class="row post-item">
                        <div class="">

                        </div>
                        <div class="">
                            <div class="row post-text">
                                <div>
                                    <p class="quotes">&ldquo;@Html.DisplayFor(modelItem => item.CommentContent)&rdquo;</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md post-author">
                                    <p>&mdash; <span class="author-name">@Html.DisplayFor(modelItem => item.Guest.GuestNameCustom)</span>@(item.Guest.GuestAddressConfirmation == null ? "" : " di ")@Html.DisplayFor(modelItem => item.Guest.GuestAddressConfirmation)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                        }
                    }
                </div>
            </div>
            }

            <audio id="audio" loop>
            <source src="media/Maher.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>